---
import "selo-components/common.css"; // has to be above site-specific css

import "@/styles/global.css";

import FormattedDate from "@/components/FormattedDate.astro";
import PrevNext from "@/components/PrevNext.astro";
import { posts, prevnexts } from "@/utils/content";
import { type CollectionEntry, render } from "astro:content";
import { BaseHead, Footer, Header } from "selo-components";

export const getStaticPaths = async () =>
  posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));

const post: CollectionEntry<"blog"> = Astro.props;
const prevnext = prevnexts[post.id];
const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={post.data.title}
      description={post.data.description}
      goatcounter="sin-kulupu-pona-la.goatcounter.com"
      useRss
    />
  </head>
  <body>
    <Header useNavbar />
    <main>
      <article>
        <h1>{post.data.title}</h1>
        {
          post.data.date && (
            <center>
              <h3>
                <FormattedDate date={post.data.date} />
              </h3>
            </center>
          )
        }
        {prevnext && <PrevNext prevnext={prevnext} />}
        <section>
          <Content />
        </section>
        {prevnext && <PrevNext prevnext={prevnext} />}
      </article>
    </main>
    <Footer github="https://github.com/pona-la/sin-kulupu" />
  </body>
</html>
