---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: 100%;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                margin: 0;
                color: var(--grey);
            }
            ul li a:hover h4,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>📰 sin kulupu: a Toki Pona newsletter.</h1>
                <p>
                    It can be hard to keep track of cool stuff in the Toki Pona
                    community! To make it easier, I've started a newsletter.
                    Every two weeks, I summarise recent events and creative
                    works. Now you won't miss anything going on!
                </p>
                <p>— kala Asi</p>
                <h3>How do I sign up?</h3>
                <p><b>With a Google account:</b></p>
                <p>
                    Go to the <a href="https://groups.google.com/g/sin-kulupu"
                        >sin kulupu Google Group</a
                    > and click <b>Join group</b>. Now you'll receive sin kulupu
                    in your inbox!
                </p>
                <p><b>Without a Google account:</b></p>
                <ol>
                    <li>
                        Send a blank email to <a
                            href="mailto:sin-kulupu+subscribe@googlegroups.com"
                            >sin-kulupu+subscribe@googlegroups.com</a
                        >.
                    </li>
                    <li>
                        You'll receive a confirmation message, send a blank
                        reply to it.
                    </li>
                </ol>
                <p>
                    <b>With an RSS feed:</b>
                </p>
                <p>
                    (This site has <a href="./rss.xml">an RSS feed</a>, but it's
                    not ready! Wait until the site migrates to a permanent
                    address.)
                </p>
            </section>
            <section>
                <h2>Previous posts</h2>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <p class="date">
                                    <FormattedDate date={post.data.date} />
                                </p>
                                <a href={`./${post.id}/`}>
                                    <h4 class="title">{post.data.title}</h4>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
    </body>
</html>
